<h2 style="text-transform: uppercase;">Do not hesitate to communicate with me</h2>
<div class="icons">
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-linkedin"></i></a>
    <a href=""><i class="fa-solid fa-house"></i></a>
</div>