<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/team">TEAM</a></li>
    <li><a href="/service">SERVICES</a></li>
    <li><a href="/info">INFO</a></li>
    <li><a href="/item">ITEM</a></li>
</ul>
<h1>THIS IS {{title}} </h1>